/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --orange: #f78b00;
  --blue: #00285f;
  --gray: #ededed;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background: var(--orange);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 24px;
  color: var(--blue);
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: var(--blue);
  text-decoration: none;
}

nav ul li a:hover {
  color: #00285f83;
}

nav ul button {
  border: 1px solid var(--blue);
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: var(--blue);
  font-weight: bold;
  border-radius: 4px;
}

nav ul button:hover {
  transition: background, color 0.6s;
  background: var(--blue);
  color: white;
}

.content .header-block {
  min-width: 1000px;
  min-width: 300px;
  height: 450px;
  background: var(--blue);
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  padding: 10px;
}

.header-block img {
  width: 50%;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.header-block .text {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.header-block .text h2 {
  color: white;
  margin-bottom: 20px;
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.5s;
}

.header-block .text p {
  max-width: 280px;
  color: white;
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.4s;
}

/* Product Catalog */

section .catalog {
  width: 100%;
  padding: 100px;
}



.title-wrapper-catalog {
  margin-top: 100px;
  padding-bottom: 20px;
  font-size: xx-large;
}

section .card-wrapper {
  max-width: 1100px;
  min-width: 300px;
  height: 460px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-around;
  
  z-index: 10;
  position: relative;
}

section .card-item {
  max-width: 1000px;
  min-width: 300px;
  height: 430px;
  
  background: var(--orange);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  position: relative;
  
}

.card-content {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: 60%;
  height: 80%;
  align-items: center;
  border-radius: 8px;
}

.card-item h4 {
  width: 90%;
}

.card-item p {
  width: 70%;
  font-style: italic;
  text-align: center;
  color:#00285f;
  
}


/* Footer */
footer {
  width: 100%;
  height: 250px;
}

footer .main {
  width: 100%;
  height: 200px;
  background: var(--orange);
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
  color: white;
  height: 100%;
  min-height: 100px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .footer-social img {
  width: 32px;
  height: 32px;
}

footer .last {
  width: 100%;
  height: 50px;
  background: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */

@media (max-width: 276px) {
  nav ul li {
    display: none;
  }

  .header-block img {
    width: 68%;
    position: absolute;
    right: 16%;
    top: 10%;
  }

  .header-block .text {
    position: absolute;
    bottom: 10%;
    left: 15;
  }

  section .filter-card {
    width: 200px;
    padding: 0px 10px;
  }

  .search-input {
    max-width: 700px;
    min-width: 240px;
  }

  .search-button {
    max-width: 150px;
    min-width: 80px;
  }

  .about {
    margin-top: 100px;
  }

  .title-wrapper-about {
    margin-bottom: 10px;
  }
  .about-content {
    flex-direction: row;
    height: 100%;
  }
  .left {
    display: flex;
  }
  .right {
    width: 90%;
  }

  .right p {
    width: 100%;
    margin: 0px;
    text-align: right;
  }

  .features {
    height: 100%;
  }

  .feature-card-block {
    height: 50%;
    display: grid;
    flex-direction: column;
  }

  footer {
    height: 100%;
  }

  footer .main {
    height: 100%;
  }

  .footer-links {
    flex-direction: column;
    padding-left: 10%;
  }
}